h1{
	background-color: lightblue;
	padding: 50px;
	display: inline;
}

p{
	margin: 100px;
}

.blue{
	background-color: blue;
}

.green{
	background-color: green;
}

.bold{
	font-weight: bold;
	font-size: 60px;
}