p{
	padding: 30px;
}

.a{
background-color: #ff7878;
}

.b{
background-color: rgb(255,176,115);
}

.c{
background-color: #fff873;
}

.d{
background-color: rgb(187, 255, 115);
}

.e{
background-color: #73ff83;
}

.f{
background-color: rgb(115, 255, 204);
}

.g{
background-color: #73c0ff;
}

.h{
background-color: rgb(120, 115, 255);
}

.i{
background-color: #cc73ff;
}

.j{
background-color: rgb(255, 115, 211);
}