/*
* Title:  Projekt 3;
* Author: Henri Mlika;
* Date:   15.03.2022;
*/


/*************General Styles****************/
/*getting font*/ @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body{
	margin: 0;
}


/***************************************************** Navigation ****************************************************************/
nav{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(233,103,255,1) 100%);
	display: flex;
	justify-content: space-between; /* To make space between logo and list */
	align-items: cemter;
	padding: 30px;
	position: fixed; /* Set the navbar to fixed position */
    top: 0; 
    width: 98%; 
    font-family: 'Patrick Hand', cursive;
    z-index: 1;
} 
nav ul{                                    /************buttons*************/
	display: flex;
	justify-content: flex-end;
	align-items: space-between;
	list-style-type: none;
	font-family: 'Patrick Hand', cursive;

}
ul li a{
	margin: 20px;
	padding: 20px;
	color: #e381a9;
	background-color: #d1417b;
	border-radius: 10px;
	text-decoration: none; /* Removes link underline */
}
/* Hover is used to make a nice effect if we put the mouse over the link */
ul li a:hover {
    background-color: #221145;
	color: white;
}

nav img{                          /**********************logo********************/
	height: 90px;
	width: 100px;
	padding: 0px;
}

header h1{
	color: #e381a9;
}


/********************************************* Main ******************************************************/
main{
	padding: 100px;
}

/* Header */
header{
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
    background-size: cover;
    background-position: center;
    font-family: 'Patrick Hand', cursive;
}


header h1{
	font-size: 60px;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	font-family: 'Patrick Hand', cursive;
}

/* Footer */
.footer{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 400px;
	background: rgb(255,95,178);
    background: linear-gradient(90deg, rgba(255,95,178,1) 0%, rgba(196,93,255,1) 100%);
    font-family: 'Patrick Hand', cursive;
}

.footer p{
	font-size: 30px;
	border: solid;
	border-color: #91003b;
	border-radius: 20px;
	padding: 10px;
	font-family: 'Patrick Hand', cursive;
}


/* Section */
section{
	padding:  50px;
	font-family: 'Patrick Hand', cursive;
}


/*TRENDING*/
.offerstext{
	font-size: 30px;
	color: #91003b;
	text-align: center;
	font-family: 'Patrick Hand', cursive;
}
#trend{
	font-size: 30px;
	text-align: center;
	color: #91003b;
	font-family: 'Patrick Hand', cursive;
}

/********************************* Page Styles ********************************/

/* Home Page */

#home header{
	    /* How to use a backgeoun image*/
    background-image: url("header-background.jpg");
}
 


/* About Page */

#about header{
	    /* How to use a backgeoun image*/
    background-image: url("header-background-about.jpg");
}


/* Other Page 1 */

#seite3 header{
	    /* How to use a backgeoun image*/
    background-image: url("header-background-seite3.jpg");
}

 /* Other Page 2 */

#seite4 header{
	    /* How to use a backgeoun image*/
    background-image: url("header-background-seite4.jpg");
}


/************************************************ CARD  *******************************************/


article .image {
	height: 170px;
	width: 350px;
	background-image: url("clothes1.jpg");
	background-position: center;
	background-size: cover;
	padding: 25px;
}

article .text {
	height: 170px;
	width: 350px;
	background-color: white;
	padding: 25px;
	font-family: 'Patrick Hand', sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-direction: column;
		background-color: #edd7fc;
}

article .text footer {
	font-size: 12px;
	color: white;

}

article .text header {
text-transform: uppercase;
font-size: 15px;
color: white;
}

header span {
	margin-right: 8px;
	margin-left: 8px;

}

footer span {
	margin-right: 8px;
	margin-left: 8px;
	color: #563e66;

}
article {
	position: relative;

}

article .box {
	background-color: #b26bd1;
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	padding: 6px;
	position: absolute;
	left: 0px;
	top: 193px;
}

section{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

article .winter {
	height: 170px;
	width: 350px;
	background-image: url("winter.jpg");
	background-position: center;
	background-size: cover;
	padding: 25px;
}

article .return {
	height: 170px;
	width: 350px;
	background-image: url("return.jpg");
	background-position: center;
	background-size: cover;
	padding: 25px;
}

main p{
   font-size: 30px;
	text-align: center;
	color: #91003b;
	font-family: 'Patrick Hand', cursive;

}